<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.jumutang.giftpay.dao.IOilRecordDao">

    <resultMap type="org.jumutang.giftpay.model.OilRecordModel" id="baseResult">
        <result column="id" property="id"/>
        <result column="userid" property="userid"/>
        <result column="openid" property="openid"/>
        <result column="payamount" property="payamount"/>
        <result column="totalamount" property="totalamount"/>
        <result column="monthamount" property="monthamount"/>
        <result column="termsurplus" property="termsurplus"/>
        <result column="cycle" property="cycle"/>
        <result column="discount" property="discount"/>
        <result column="status" property="status"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
        <result column="phone" property="phone"/>
    </resultMap>

    <sql id="wherecause">
        <where>
            <if test="userid !=null">
                and userid = #{userid}
            </if>
            <if test="id !=null">
                and id = #{id}
            </if>
        </where>
    </sql>

    <!-- 查询用户加油信息 -->
    <select id="queryOilRecordModel" parameterType="org.jumutang.giftpay.model.OilRecordModel" resultMap="baseResult">
        select id,userid,openid,payamount,totalamount,monthamount,termsurplus,cycle,discount,status,createtime,updatetime from
        t_oil_record
        <include refid="wherecause"/>
    </select>


    <!-- 查询用户加油信息列表 -->
    <select id="queryOilRecordModelList" parameterType="org.jumutang.giftpay.model.OilRecordModel"
            resultMap="baseResult">
        select id,userid,openid,payamount,totalamount,monthamount,termsurplus,cycle,discount,status,createtime,updatetime from
        t_oil_record
        where 1=1
        <if test="userid !=null">
            and userid = #{userid}
        </if>
        <if test="id !=null">
            and id = #{id}
        </if>
        order by createtime desc
    </select>


    <select id="queryOilRecordModelListMobile" parameterType="org.jumutang.giftpay.model.OilRecordModel"
            resultMap="baseResult">
		select oil.id,oil.userid,oil.openid,oil.payamount,oil.totalamount,monthamount,oil.termsurplus,oil.cycle,oil.discount,oil.`status`,oil.createtime,oil.updatetime,
sub.phone
from t_oil_record oil
inner join
t_subuser sub
on oil.openid=sub.open_id
and oil.userid=sub.user_id
order by oil.createtime desc
	</select>

    <!-- 查询用户加油信息列表 -->
    <select id="queryOilRecordModelListForTask" parameterType="org.jumutang.giftpay.model.OilRecordModel"
            resultMap="baseResult">
		select id,userid,openid,payamount,totalamount,monthamount,termsurplus,cycle,discount,status,createtime,updatetime from t_oil_record
		where 1=1 and termsurplus > 0 and status = 0
	</select>


    <!-- 创建用户加油信息 -->
    <insert id="insertOilRecord" parameterType="org.jumutang.giftpay.model.UserOilInfoModel">
        insert into t_oil_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            id,userid,openid,payamount,totalamount,monthamount,termsurplus,cycle,discount,status,createtime
        </trim>
        <trim prefix="value(" suffix=")" suffixOverrides=",">
            #{id},#{userid},#{openid},#{payamount},#{totalamount},#{monthamount},#{termsurplus},#{cycle},#{discount},0,now()
        </trim>
    </insert>

    <!-- 修改用户加油信息 -->
    <update id="updateOilRecordModel" parameterType="org.jumutang.giftpay.model.UserOilInfoModel">
        update t_oil_record
        <set>
            <if test="status !=null">
                status = #{status},
            </if>
            <if test="termsurplus !=null">
                termsurplus = #{termsurplus},
            </if>
            <if test="updatetime !=null">
                updatetime = now(),
            </if>
        </set>
        <where>
            userid = #{userid}
            <if test="id !=null">
                and id = #{id}
            </if>
        </where>
    </update>

</mapper>