<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jumutang.giftpay.dao.PhoneDao">

    <resultMap id="BaseResultMap" type="org.jumutang.giftpay.model.PhoneModel">
        <id column="phone" property="phone"></id>
        <result column="province" property="province"/>
        <result column="city" property="city"/>
        <result column="card" property="card"/>
    </resultMap>

    <sql id="insertYs">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone !=null">
                phone,
            </if>
            <if test="province !=null">
                province,
            </if>
            <if test="city !=null">
                city,
            </if>
            <if test="card !=null">
                card,
            </if>
        </trim>
    </sql>

    <sql id="insertValue">
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone !=null">
                #{phone},
            </if>
            <if test="province !=null">
                #{province},
            </if>
            <if test="city !=null">
                #{city},
            </if>
            <if test="card !=null">
                #{card},
            </if>
        </trim>
    </sql>

    <insert id="savePhone" parameterType="org.jumutang.giftpay.model.PhoneModel">
        INSERT INTO t_phone
        <include refid="insertYs"/>
        VALUES
        <include refid="insertValue"/>
    </insert>

    <select id="getPhone" resultMap="BaseResultMap">
        SELECT * FROM t_phone
        <where>
            <if test="phone!=null">
                AND phone = #{phone}
            </if>
        </where>
    </select>
</mapper>