.content{
    width: 640px;
    min-height: 1004px;
    padding-bottom: 205px;
}

.red{
    color: red;
}
.record1{
    width: 586px;
    height: 112px;
    border-bottom: 1px solid #999999;
    margin: 0px auto;
}
.record2{
    width: 586px;
    height: 112px;
    border-bottom: 1px solid #999999;
    margin: 0px auto;
}
.payMoney{
    font-size: 26px;
    font-weight: bold;
    margin: 25px 9px;
}
.dataTime{
    font-size: 24px;
    margin: -48px 396px;
    position: absolute;
    width: 182px;
}
.edu{
    font-size: 22px;
    margin: 2px 10px;
}
.comeFrom{
    font-size: 22px;
    margin: 36px 11px;
    width: 390px;
}
.state{
    font-size: 25px;
    margin: -61px 421px;
    width: 146px;
    color: #999;
}
.tips{
    font-size: 22px;
    width: 559px;
    line-height: 34px;
    margin: 123px 39px;


}
.f_22{
    font-size: 22px;
}
.f_25{
    font-size: 25px;
}
.f_28b{
    font-size: 28px;
    font-weight: bold;
}
.leftState{
    font-size: 25px;
    margin: -62px 396px;
    width: 164px;
    color: #008000;
}
.leftDay{
    font-size: 25px;
    color: #008000;
}


.details{
    width: 586px;
    height: 112px;
    border-bottom: 1px solid #999999;
    margin: 0px auto;
}

.tips{
    font-size: 25px;
    width: 629px;
    line-height: 34px;
    margin: 0px auto;
}
.tipsTol{
    position: fixed;
    bottom: 38px;
    text-align: center;
    width: 100%;
    background: #f2f2f2;
    height: 184px;
}


.tipsIm{
    display:none;
    width: 490px;
    height: 248px;
    /*border-bottom: 1px solid #ccc;*/
    margin: 133px auto;
}
.picTip{
    margin: 0px auto;
    width: 350px;
}

.sorry{
    font-size: 30px;
    color: #888;
    margin: 58px 47px;
    position: absolute;
}